# 2.5 Filtering
This video discusses how to create dataframe filters using Pandas.

In [1]:
import pandas as pd
df = pd.read_csv("pokemon.csv")

df.head()

,trainerID,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed,trainerID.1,trainername
0,0,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,0,A-list Actor Alonso
1,1,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,1,A-list Actor Ricardo
2,2,0,Wailord,57,Water,None,281,281,128,76,128,76,93,2,Ace Duo Elina & Sean
3,2,1,Vileplume,57,Grass,Poison,173,173,116,122,150,128,82,2,Ace Duo Elina & Sean
4,3,0,Armaldo,47,Rock,Bug,144,144,139,115,87,97,64,3,Ace Duo Jude & Rory

In [2]:
df['type1'] == 'Fire'

0        False
1        False
2        False
3        False
4        False
         ...
28799    False
28800    False
28801    False
28802    False
28803    False
Name: type1, Length: 28804, dtype: bool

In [3]:
df[ df['type1'] == 'Fire' ]

,trainerID,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed,trainerID.1,trainername
9,5,1,Numel,21,Fire,Ground,63,63,37,29,39,31,27,5,Ace Duo Pike & Shiel
11,6,1,Ninetales,46,Fire,None,139,139,91,90,96,113,113,6,Ace Duo Kent and Aimee
21,11,1,Ninetales,44,Fire,None,134,134,87,86,92,108,108,11,Cooltrainer♀
24,12,2,Charmeleon,42,Fire,None,115,115,73,68,87,74,87,12,Cooltrainer♂
25,12,3,Charizard,42,Fire,Flying,132,132,90,85,111,91,104,12,Cooltrainer♂
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28553,11765,0,Growlithe,44,Fire,None,118,118,82,60,82,64,73,11765,Youngster Owen
28684,11825,0,Slugma,17,Fire,None,46,46,24,24,34,24,17,11825,Youngster Cutler
28699,11834,0,Magby,15,Fire,None,43,43,32,21,31,26,35,11834,Youngster Anthony
28705,11841,3,Magmortar,59,Fire,None,178,178,138,105,173,138,124,11841,Youngster Tristan
28748,11849,3,Slugma,5,Fire,None,20,20,10,10,13,10,8,11849,Youngster Bernie

In [8]:
filt = df['hp'] > 100

In [9]:
df[filt]

,trainerID,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed,trainerID.1,trainername
0,0,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,0,A-list Actor Alonso
2,2,0,Wailord,57,Water,None,281,281,128,76,128,76,93,2,Ace Duo Elina & Sean
3,2,1,Vileplume,57,Grass,Poison,173,173,116,122,150,128,82,2,Ace Duo Elina & Sean
4,3,0,Armaldo,47,Rock,Bug,144,144,139,115,87,97,64,3,Ace Duo Jude & Rory
5,3,1,Cradily,47,Rock,Grass,154,154,98,113,98,122,62,3,Ace Duo Jude & Rory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28799,11859,1,Skiploom,50,Grass,Flying,133,133,68,73,68,88,103,11859,Youthful Couple River
28800,11859,2,Sealeo,50,Ice,Water,168,168,83,93,98,93,68,11859,Youthful Couple River
28801,11859,3,Lombre,50,Water,Grass,138,138,73,73,83,93,73,11859,Youthful Couple River
28802,11859,4,Poliwhirl,50,Water,None,143,143,88,88,73,73,113,11859,Youthful Couple River
28803,11859,5,Marill,50,Water,Fairy,148,148,43,73,43,73,63,11859,Youthful Couple River

In [11]:
df.loc[df['hp'] > 100, 'pokename']

0         Smeargle
2          Wailord
3        Vileplume
4          Armaldo
5          Cradily
           ...
28799     Skiploom
28800       Sealeo
28801       Lombre
28802    Poliwhirl
28803       Marill
Name: pokename, Length: 17170, dtype: object

In [ ]:
~ not
& and
| or

In [12]:
filt = (df['hp'] > 100) & (df['type1'] == 'Fire')

In [14]:
df.loc[filt]

,trainerID,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed,trainerID.1,trainername
11,6,1,Ninetales,46,Fire,None,139,139,91,90,96,113,113,6,Ace Duo Kent and Aimee
21,11,1,Ninetales,44,Fire,None,134,134,87,86,92,108,108,11,Cooltrainer♀
24,12,2,Charmeleon,42,Fire,None,115,115,73,68,87,74,87,12,Cooltrainer♂
25,12,3,Charizard,42,Fire,Flying,132,132,90,85,111,91,104,12,Cooltrainer♂
28,13,2,Arcanine,43,Fire,None,145,145,115,89,106,89,102,13,Cooltrainer♂
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28190,11580,0,Heatran,50,Fire,Steel,169,169,113,129,153,129,100,11580,World Finalist Nitesh
28226,11586,3,Heatran,50,Fire,Steel,169,169,113,129,153,129,100,11586,World Finalist Wolfe
28288,11618,0,Magmar,44,Fire,None,127,127,104,71,108,95,102,11618,Young Couple Vic & Tara
28553,11765,0,Growlithe,44,Fire,None,118,118,82,60,82,64,73,11765,Youngster Owen
28705,11841,3,Magmortar,59,Fire,None,178,178,138,105,173,138,124,11841,Youngster Tristan

In [15]:
filt = (df['hp'] < 50) | (df['hp'] > 200)

In [16]:
df.loc[filt]

,trainerID,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed,trainerID.1,trainername
2,2,0,Wailord,57,Water,None,281,281,128,76,128,76,93,2,Ace Duo Elina & Sean
31,14,2,Chansey,43,Normal,None,283,283,24,24,50,110,63,14,Cooltrainer♀
126,57,0,Wingull,18,Water,Flying,48,48,22,22,31,22,42,57,Cooltrainer♀ Brooke
189,85,0,Electrike,18,Electric,None,48,48,27,25,34,25,34,85,Cooltrainer♂ Wilton
218,97,0,Wingull,17,Water,Flying,46,46,21,21,29,21,40,97,Cooltrainer♀ Brooke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28752,11850,1,Pineco,5,Bug,None,21,21,13,15,10,10,8,11850,Youngster Bernie
28753,11850,2,Voltorb,5,Electric,None,20,20,9,11,12,12,16,11850,Youngster Bernie
28754,11850,3,Machop,5,Fighting,None,23,23,14,11,10,10,10,11850,Youngster Bernie
28755,11850,4,Exeggcute,5,Grass,Psychic,22,22,10,14,12,11,10,11850,Youngster Bernie
28756,11850,5,Rhyhorn,5,Ground,Rock,24,24,15,16,9,9,9,11850,Youngster Bernie

In [21]:
filt = ~(df['pokename'] == 'Pikachu') & (df['type1'] == 'Electric')

In [23]:
df.loc[filt, 'pokename'].value_counts()

Manectric     196
Magnemite     192
Magneton      166
Voltorb       134
Electrode     134
Raichu        101
Electrike      78
Minun          58
Ampharos       58
Luxio          56
Plusle         56
Flaaffy        53
Electabuzz     52
Jolteon        41
Zebstrika      39
Pichu          36
Mareep         35
Pachirisu      34
Raikou         33
Zapdos         32
Emolga         29
Shinx          25
Rotom          20
Elekid         19
Luxray         18
Blitzle        18
Magnezone      17
Eelektross      9
Dedenne         6
Eelektrik       6
Electivire      5
Heliolisk       3
Helioptile      2
Tynamo          1
Name: pokename, dtype: int64

In [25]:
water_df = df.loc[ df['type1'] == 'Water' ]

In [26]:
water_df.loc[ water_df['type2'] == 'Fire']

Empty DataFrame
Columns: [trainerID, place, pokename, pokelevel, type1, type2, hp, maxhp, attack, defense, spatk, spdef, speed, trainerID.1, trainername]
Index: []

In [27]:
df.head()

,trainerID,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed,trainerID.1,trainername
0,0,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,0,A-list Actor Alonso
1,1,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,1,A-list Actor Ricardo
2,2,0,Wailord,57,Water,None,281,281,128,76,128,76,93,2,Ace Duo Elina & Sean
3,2,1,Vileplume,57,Grass,Poison,173,173,116,122,150,128,82,2,Ace Duo Elina & Sean
4,3,0,Armaldo,47,Rock,Bug,144,144,139,115,87,97,64,3,Ace Duo Jude & Rory

In [28]:
s = "Dwayne the rock Johnson"

In [44]:
filt = df['trainername'].str.contains("Actor")

In [45]:
df[filt]

,trainerID,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed,trainerID.1,trainername
0,0,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,0,A-list Actor Alonso
1,1,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,1,A-list Actor Ricardo
328,147,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,147,A-list Actor Alonso
329,148,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,148,A-list Actor Ricardo
340,154,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,154,A-list Actor Alonso
341,155,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,155,A-list Actor Ricardo
668,301,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,301,A-list Actor Alonso
669,302,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,302,A-list Actor Ricardo
996,448,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,448,A-list Actor Alonso
997,449,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,449,A-list Actor Ricardo
1324,595,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,595,A-list Actor Alonso
1325,596,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,596,A-list Actor Ricardo
1652,742,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,742,A-list Actor Alonso
1653,743,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,743,A-list Actor Ricardo
3282,1356,0,Smeargle,99,Normal,None,253,253,80,109,80,129,189,1356,Actor Fabio*
8725,3568,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116,3568,A-list Actor Alonso
8726,3569,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60,3569,A-list Actor Ricardo
10355,4182,0,Smeargle,99,Normal,None,253,253,80,109,80,129,189,4182,Actor Fabio*
16045,6503,0,Gligar,15,Ground,Flying,49,49,32,41,20,29,35,6503,Fine Actor Terrence
16046,6503,1,Drifloon,25,Ghost,Flying,89,89,39,31,44,36,49,6503,Fine Actor Terrence
25311,10231,0,Golurk,75,Ground,Ghost,245,245,218,152,114,152,114,10231,Star Actor Cristoph
25426,10288,0,Zoroark,54,Dark,None,148,148,137,89,154,89,137,10288,Suit Actor ♂ Craig
25427,10288,1,Mandibuzz,54,Dark,Flying,202,202,94,137,83,127,110,10288,Suit Actor ♂ Craig
25428,10290,0,Roggenrola,38,Rock,None,103,103,75,83,37,37,30,10290,Suit Actor ♂ Creed
25429,10290,1,Elgyem,32,Psychic,None,88,88,51,51,70,51,35,10290,Suit Actor ♂ Creed
25430,10291,0,Ferroseed,52,Grass,Steel,126,126,75,118,48,113,34,10291,Suit Actor ♂ Creed
25431,10291,1,Beheeyem,40,Psychic,None,124,124,79,79,119,95,51,10291,Suit Actor ♂ Creed
27873,11445,0,Gastly,30,Ghost,Poison,68,68,36,33,75,36,63,11445,Veteran Actor J.J.
27874,11445,1,Gengar,30,Ghost,Poison,86,86,54,51,93,60,81,11445,Veteran Actor J.J.
27875,11445,2,Haunter,30,Ghost,Poison,77,77,45,42,84,48,72,11445,Veteran Actor J.J.