# 3.6 Date Formatting

In [1]:
import pandas as pd
df = pd.read_csv('senator_tweets.csv')

In [21]:
df.head()

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,user,bioguide_id,party,state
0,0,2017-10-19 21:47:00,We released bipartisan healthcare bill today &...,https://twitter.com/amyklobuchar/status/921130...,21,129,533,amyklobuchar,K000367,D,MN
1,1,2017-10-19 18:48:00,I spoke with @Morning_Joe team abt #HonestAds ...,https://twitter.com/amyklobuchar/status/921085...,8,46,150,amyklobuchar,K000367,D,MN
2,2,2017-10-19 18:14:00,Lots of interest in my bill with Senators Warn...,https://twitter.com/amyklobuchar/status/921077...,36,227,932,amyklobuchar,K000367,D,MN
3,3,2017-10-19 18:04:00,"Today's the day @MarkWarner, @SenJohnMcCain &a...",https://twitter.com/amyklobuchar/status/921074...,17,167,550,amyklobuchar,K000367,D,MN
4,4,2017-10-19 16:33:00,".@MarkWarner, @SenJohnMcCain &amp; I put toget...",https://twitter.com/amyklobuchar/status/921051...,31,279,893,amyklobuchar,K000367,D,MN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288615 entries, 0 to 288614
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   288615 non-null  int64
 1   created_at   288615 non-null  datetime64[ns]
 2   text         288615 non-null  object
 3   url          288615 non-null  object
 4   replies      288615 non-null  int64
 5   retweets     288615 non-null  int64
 6   favorites    288615 non-null  int64
 7   user         288615 non-null  object
 8   bioguide_id  288615 non-null  object
 9   party        288615 non-null  object
 10  state        288615 non-null  object
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 24.2+ MB

In [6]:
df['created_at'] = pd.to_datetime(df['created_at'])

In [20]:
df['created_at'].dt.normalize()

0        2017-10-19
1        2017-10-19
2        2017-10-19
3        2017-10-19
4        2017-10-19
            ...
288610   2015-07-28
288611   2015-07-28
288612   2015-07-27
288613   2015-07-27
288614   2015-07-26
Name: created_at, Length: 288615, dtype: datetime64[ns]

In [29]:
filt = df['created_at'].dt.normalize() == this_date
df.loc[filt]

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,user,bioguide_id,party,state
0,0,2017-10-19 21:47:00,We released bipartisan healthcare bill today &...,https://twitter.com/amyklobuchar/status/921130...,21,129,533,amyklobuchar,K000367,D,MN
1,1,2017-10-19 18:48:00,I spoke with @Morning_Joe team abt #HonestAds ...,https://twitter.com/amyklobuchar/status/921085...,8,46,150,amyklobuchar,K000367,D,MN
2,2,2017-10-19 18:14:00,Lots of interest in my bill with Senators Warn...,https://twitter.com/amyklobuchar/status/921077...,36,227,932,amyklobuchar,K000367,D,MN
3,3,2017-10-19 18:04:00,"Today's the day @MarkWarner, @SenJohnMcCain &a...",https://twitter.com/amyklobuchar/status/921074...,17,167,550,amyklobuchar,K000367,D,MN
4,4,2017-10-19 16:33:00,".@MarkWarner, @SenJohnMcCain &amp; I put toget...",https://twitter.com/amyklobuchar/status/921051...,31,279,893,amyklobuchar,K000367,D,MN
...,...,...,...,...,...,...,...,...,...,...,...
285390,285390,2017-10-19 16:48:00,RT @mitchellreports: Full interview with Sen. ...,https://twitter.com/timkaine/status/9210554751...,28,62,137,timkaine,K000384,D,VA
285391,285391,2017-10-19 15:44:00,RT @SenBennetCO: RT if you agree that a public...,https://twitter.com/timkaine/status/9210392873...,42,494,462,timkaine,K000384,D,VA
285392,285392,2017-10-19 15:33:00,RT @mitchellreports: Today on #AMR: @JoshEarne...,https://twitter.com/timkaine/status/9210365950...,16,17,50,timkaine,K000384,D,VA
285393,285393,2017-10-19 13:56:00,Happy Diwali to those celebrating in Virginia ...,https://twitter.com/timkaine/status/9210122720...,24,407,2377,timkaine,K000384,D,VA
285394,285394,2017-10-19 11:11:00,RT @SenBennetCO: Tune in this morning at 7:20 ...,https://twitter.com/timkaine/status/9209707168...,12,22,116,timkaine,K000384,D,VA

In [26]:
from datetime import datetime
this_date = datetime(2017, 10, 19)

In [30]:
amy_df = df.loc[ df['user'] == 'amyklobuchar']

In [35]:
first_tweet = amy_df['created_at'].min()
most_recent_tweet = amy_df['created_at'].max()

In [38]:
twitter_time = most_recent_tweet - first_tweet

In [40]:
twitter_time.days / 365

2.3205479452054796

In [42]:
df['year'] = df['created_at'].dt.year

In [44]:
df.groupby('year').agg({'retweets': 'mean'})

        retweets
year
2008    0.000000
2009    0.304854
2010    4.021716
2011    4.524730
2012   10.223694
2013   21.106230
2014   19.724758
2015   32.628135
2016  137.287301
2017  524.492236

In [45]:
df['month'] = df['created_at'].dt.month

In [49]:
df.groupby(['year', 'month']).agg({'retweets': 'mean'})

              retweets
year month
2008 9        0.000000
     10       0.000000
     11       0.000000
     12       0.000000
2009 1        0.000000
...                ...
2017 6      443.999920
     7      467.259910
     8      596.024805
     9      634.685069
     10     511.208923

[110 rows x 1 columns]

In [50]:
df.head()

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,user,bioguide_id,party,state,year,month
0,0,2017-10-19 21:47:00,We released bipartisan healthcare bill today &...,https://twitter.com/amyklobuchar/status/921130...,21,129,533,amyklobuchar,K000367,D,MN,2017,10
1,1,2017-10-19 18:48:00,I spoke with @Morning_Joe team abt #HonestAds ...,https://twitter.com/amyklobuchar/status/921085...,8,46,150,amyklobuchar,K000367,D,MN,2017,10
2,2,2017-10-19 18:14:00,Lots of interest in my bill with Senators Warn...,https://twitter.com/amyklobuchar/status/921077...,36,227,932,amyklobuchar,K000367,D,MN,2017,10
3,3,2017-10-19 18:04:00,"Today's the day @MarkWarner, @SenJohnMcCain &a...",https://twitter.com/amyklobuchar/status/921074...,17,167,550,amyklobuchar,K000367,D,MN,2017,10
4,4,2017-10-19 16:33:00,".@MarkWarner, @SenJohnMcCain &amp; I put toget...",https://twitter.com/amyklobuchar/status/921051...,31,279,893,amyklobuchar,K000367,D,MN,2017,10

In [52]:
df.set_index('created_at', inplace=True)

In [55]:
df['retweets'].resample('M').mean()

created_at
2008-09-30      0.000000
2008-10-31      0.000000
2008-11-30      0.000000
2008-12-31      0.000000
2009-01-31      0.000000
                 ...
2017-06-30    443.999920
2017-07-31    467.259910
2017-08-31    596.024805
2017-09-30    634.685069
2017-10-31    511.208923
Freq: M, Name: retweets, Length: 110, dtype: float64